@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    background-color:  #2d2d2d;
}

#gameContainer {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
